.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

#input-balance {
  font-size: 19px;
  height: 65px;
  width: 160px;
  border-radius: 5px;
  border: none;
}

.icons {
  display: flex;
  align-items: center;
}

.val-bg {
  color:white;
  border-radius: 80px;
  background-color: #25364d;
  padding: 3px 20px;
}

.socialIcons {
  margin: 0 14px;
  margin-top: 6px;
}

.btn-main {
  position: relative;
  width: 110px;
  height: 45px;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
  transition: .5s;
  color: #fff;
  font-size: 13px;
  border-radius: 30px;
  background-image: linear-gradient(270deg,#f74541,#f7c347);
}

.left {
  display: flex;
  align-items: center;
}

.logo {
  width: auto;
  max-height: 40px;
}

.top {
  background-color: black;
  margin-top: 0px;
  margin-bottom: 0px;
}

.right {
  display: inline-flex;
  flex-direction: row;
}

.row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.card-header{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #081a2e;
  border-radius: 20px;
  padding: 16px 20px;
  align-items: center;
  text-align: center;
  margin-bottom: 14px;
  min-height: 210px;
  position: relative;
}

.info {
  color: #bfc3c9;
  text-align: center;
  font-size: 13px;
  margin-top: 8px;
}

.card-header-btm {
  margin: 0;
  font-weight: 600;
  letter-spacing: .4pt;
}

.col-md-3 {
  -ms-flex: 0 0 25%;
  flex: 0 0 25%;
  max-width: 25%;
}

#topcontainer {
  height: 100%;
  width: 100%;
  display: flex;
}
#leftThing {
  width: 25%;
  background-color: blue;
}
#middlecontent {
  width: 40%;
  background-color: green;
}
#rightThing {
  width: 35%;
  background-color: yellow;
}
